<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TATOR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="VICExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="ExportadorVisitas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TATOR.Properties.Settings>
      <setting name="VICExporter_partner_SforceService" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/u/36.0</value>
      </setting>
      <setting name="VICExporter_metadata_MetadataService" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/m/48.0</value>
      </setting>
    </TATOR.Properties.Settings>
    <VICExporter.Properties.Settings>
      <setting name="VICExporter_partner_SforceService" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/u/31.0</value>
      </setting>
      <setting name="VICExporter_metadata_MetadataService" serializeAs="String">
        <value>https://cs7.salesforce.com/services/Soap/m/32.0</value>
      </setting>
    </VICExporter.Properties.Settings>
    <ExportadorVisitas.Properties.Settings>
      <setting name="ExportadorVisitas_sForce_SforceService" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/c/31.0/0DFD00000009KYp</value>
      </setting>
    </ExportadorVisitas.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="TESTEntities" connectionString="metadata=res://*/BD.ModelTest.csdl|res://*/BD.ModelTest.ssdl|res://*/BD.ModelTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NTS-PERVAS\SQLEXPRESS;initial catalog=TEST;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
